header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333644;
	color: #F6E1B8;
	font-size: larger;
	font-weight: bolder;
	font-family: cursive;
	height: 50px;
}

#calculator {
	border: 2px solid black;
	background-color: rgb(194, 185, 185);
	height: 350px;
	width: 200px;
}

#display-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

#display {
	border: 1px solid red;
	width: 180px;
	height: 50px;
	background-color: rgb(231, 226, 226);
}

#display-top {
	border: 1px solid blue;
	width: 180px;
	height: 20px;
	background-color: rgb(231, 226, 226);
}

#grid-numbers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#flexbox-top {
	display: flex;
	justify-content: center;
	padding: 20px 5px;
}

.button-function {
	flex: 1;
}

#flexbox-side {
	display: flex;
	flex-direction: column-reverse;
}

#flexbox-main {
	display: flex;
	justify-content: center;
}